 title { font-size: 42px; text-align: center;  font-family: "Courier New", Courier, monoscope ;}
 div.container {
 
    width: 99%;
    border: 3px solid black;
}


div.nav {border-left:  solid black;
    border-right:  solid black;
    border-top:  solid black;
    border-bottom:  solid black; 
    padding: 10px;
     background-color: white;
    }

body {
    background-color: #f9f9f9;
}

a:link {
    color: #000033;
}


a:visited {
    color:  #4d0026;
}


a:hover {
    color: #0066cc;
}

header, footer {
    padding: 10px;
    color: dark brown;
    background-color: #f9f9f9;
    clear: left;
    text-align: center;
    font-size: 22px;
  
    
}

div.img2hover {
    display: none;
}



nav {
    float: left;
     background-color: white;
    max-width: 25%;
    margin: 5;
    padding: 2px;
    padding-top: 0px;
    font-size: 26px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 200px;
    border-left:  solid black;
    border-right:  solid black;
    border-top:  solid black;
    border-bottom:  solid black;
    padding: 6px;
   overflow: hidden;
    background-color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
button{

   text-align: center; 
   background-color: #f2f2f2;
   padding: 15px 32px;
    text-align: center;
   color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


h1 {
    color: #422C16 ;
	text-align: center;
	text-decoration: underline;
	 font-size: 42px;
	 font-family: "Century", Courier, monospace;
	 }
	 
 h2 {color:#2d1606;
  font-size: 34px; text-align:
   left;
 font-family: "Century", Courier, monospace;}
   
  h3 {color:#432109; 
  font-size: 28px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: left;  
  list-style-type: none;}
  
  h4 {color:#2d1a06; text-align: left ; 
  font-size: 34px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  
  p {color:Black; 
  font-size: 26px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   text-align: center ; font-family: arial, sans-serif;}
    
ul { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}

button { width: 100px; height: 45px; font-size: 17px; background-color: #d1e0fa; 
border-radius: 12px; margin: 0% 50% 0% 50%;}
img { padding: 0px }
